name: cpp-linter

on: [push, pull_request, workflow_dispatch]

jobs:
  cpp-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cpp-linter/cpp-linter-action@v2
        id: linter
        with:
          style: 'llvm'
          files-changed-only: false

      - name: Fail fast
        if: steps.linter.outputs.checks-failed > 0
        run: |
          echo "Some files failed the linting checks!"
          exit 1